$primary-color: #00425a;
$secondary-color: #2b6292;

.contact-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction:row;
color: $primary-color;
    align-items: center;
    text-align: center;//  margin: 15px;
    padding: 2rem;
    font-family: Arial, sans-serif;
overflow: hidden; // Ensure the background doesn't overflow
  @media(max-width:768px){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 180px;
    margin-top: 400px;
    margin-bottom: 20px;
  }
   
    // Adding the semi-circle background
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 100%;
    // background: $primary-color; // Light blue color for the background
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: -1; // Push it behind all other content
    }
  
    .contact-info {
      display: flex;
      //padding: 20px;
      flex-direction: column;
      position: relative;
      left: 200px;
      align-items: flex-start;

     @media(max-width:768px){
      position: relative;
      display: flex;
    //   overflow: visible;
    // //  min-height: 80vh;
       //overflow: visible;
    //   //font-size: 22px;


     top: 200px;
      left: 0px;

      
     }


      h2 {
        position: relative;
        bottom: 25px;
        margin: 0;
        padding-bottom: 30px;
        
        font-size: 33px;
        line-height: 0px;
        font-weight: bold;
        color: $primary-color;
        display: inline-block; /* Ensure the element is treated as a block for scaling */
        transform: scaleX(1.1); /* Increase the width by 1.5 times */
        transform-origin: left;
    
        
    
        &::after {
          content: "";
          position: absolute;
          left: 1px;
          bottom: -8px;
          width:33%;
          border-radius: 5px;
          height: 3px;
          background-color: $primary-color;
        }
      }
      a {
       // color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }


  
      
  
      .info-item {
        display: flex;
        padding-top: 30px;
        align-items: center;
        margin: 0.5rem 0;
        
  
        svg {
          margin-right: 1rem;
          font-size: 1.5rem;
         // padding: 5px;
        // margin: 10px;
        padding: 3px;
        border-radius: 30px;
          background-color: $primary-color;
          color: #ffffff;
        }
  
        span {
          font-size: 1rem;
          color: #555;

        @media(max-width:768px){
        
             //font-size: 22px;
          }
        }
      }
    }
  
    .mobile-preview {
   
      position: relative;
      padding-right: 60px;
     top: 85px;
   //border: none;
      left: 270px;
      width: 40%;
      height: 580px;
      img {
       width: 100%;
       // max-width: 200px;
       // border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
  
    @media (max-width: 768px) {
     // overflow: hidden;
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // align-items: flex-start;
  
      .contact-info {
        flex: 1;
       
        margin-right: 2rem;
      }
  
      .mobile-preview {
       display: none;
  
       
      }
    }
  }
  