// styles/applicationadvantages.scss
$primary-color: #00425a;
$secondary-color: #1f2020;

.container {
 overflow: hidden;
 min-width: 100%;
 padding-top: 0px;
 
 height: 100vh;
  display: flex;

  justify-content: space-around;
  position: relative;

  &::before {
    content: "";
 position: absolute;
    top: 90%;
    left: 85%;
    width: 40%;
    height: 85%;
    background-color: $primary-color;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 10px;/* Background circle should be behind other elements */

    @media (max-width:768px) {
        display: none;
    }
}
  h2 {
    position: relative;
    bottom: 25px;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: $primary-color;
    display: inline-block; /* Ensure the element is treated as a block for scaling */
    transform: scaleX(1.1); /* Increase the width by 1.5 times */
    transform-origin: left;

    div {
      position: relative;
      left: 12px;
      bottom: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      bottom: -0px;
      width: 28%;
      border-radius: 5px;
      height: 3px;
      background-color: $primary-color;
    }
  }
 

  @media (max-width: 768px) {
    position: relative;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    top: 70px;
  }

  h2 {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 2rem;

    @media(max-width:768px){
      position: relative;
      
    }
  }

  .grid {
    //border: 1px solid bisque;
    overflow: visible;

    //margin-top: 150px;
    //padding-top: 50px;
   // margin-left: 30px;
    max-width: 550px;
    max-height: 350px;
    position: relative;
    top: 110px;

    @media (max-width: 768px) {
      position: relative;
      padding: 20px;
      justify-content: center;
      //width: 700px;
      bottom:50px;
    }
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);

    .firstseconditem {
      // margin-top: 10px;
      display: flex;
      position: relative;
      right: 12px;
   //   overflow: hidden;
   //min-width: 535px;
      text-align: justify;
    //  padding: 10px;
     // margin-right: 15px;
    //margin-left: 10px;
   
      p {
        font-size: 13px;
        
      }
      //align-items: center;
 
      .width1{
       // padding: 5px;
      // width:100% ;
      min-width: 210px;
      }

      @media (max-width: 768px) {
        display: flex;
        //padding-left: 15px;
       // padding-right: 35px;
        position: relative;
        bottom: 40px;
        flex-direction: column;
         
        p{
          padding: 10px;
        }

      }
      // max-height: 90px;
    }
    .thirdfourthitem {
      display: flex;
      //  margin: 0;
      // min-width: 202px;
      text-align: justify;
      // align-items: center;
     // margin-right: 25px;
      margin-top: 50px;
      padding-left: 12px;
      padding-right: 15px;
      position: relative;
     
      // max-height: 80px
      .circle {
        margin-left: -5px;
      }   
       
      .width03{
        padding-right: 10px;
        padding-left: 0px;
        display: flex;
        right: 10px;
        margin-right:12px;
      }
      
      

      @media (max-width: 768px) {
        display: flex;
       // margin-left: 10px;
        padding: 0;
        bottom: 90px;
        left: 10px;
        flex-direction: column;
        position: relative;

        .width04{
          position:relative;
          right: 25px;
          padding-left: 15px;
        }
      }
    }
  }
  .circle {
    background-color: #243a5e;
    color: white;
    margin: 15px;
    border-radius: 50%;
    width: 2.8rem;
    padding: 10px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: bold;
  }

  p {
  //  margin-left: 1rem;
    font-size: 13px;
    color: $secondary-color;
    //text-align: justify;

    @media(max-width:768px ){
      position: relative;
    // font-size: 14px;
     align-items: center;
     // right: 15px;
       text-align: justify;
    }
  }
  .image-section {
    //  display: flex;
    //  flex-direction: row;
    position: relative;
    padding-right: 60px;
    top: 100px;
    right: 170px;
    width: 18%;
    height: 480px;

    @media (max-width: 768px) {
      margin-top: 0;
      display: none;
      // width: auto;
    }
  }
}
